<h2 class="header-dividing">公益机构列表</h2>
<table class="table" style="width: 800px;">
    <thead>
    <tr>
        <th>#</th>
        <th>机构名</th>
        <th>用户名</th>
        <th style="width: 3.5em;"></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <volist name="list" id="vo">
        <tr>
            <td>{$i}</td>
            <td>{$vo.name}</td>
            <td>{$vo.username}</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{$i}">查看详情</button>
                <div class="modal fade" id="myModal{$i}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                                <h4 class="modal-title">{$vo.name}</h4>
                            </div>
                            <div class="modal-body">
                                <p>地址: {$vo.address}</p>
                                <p>电话: {$vo.contact}</p>
                                <p>机构图片: </p>
                                <p>营业执照: </p>
                                <p>实名状态: 已实名认证</p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <a type="button" href="{:U("Home/Index/delagency?id=$vo[id]")}" class="btn btn-primary" onclick="del();">删除</a>
            </td>
        </tr>
    </volist>
    </tbody>
</table>

<script type="text/javascript">
    function del() {
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }
    }
</script>